.container{
    bottom: auto;
    padding: 0 5%;
}

.education{

    display: flex;

    flex-direction: column;
    padding: 10px 30px;
    gap: 30px;
}


.education_description{
    flex: 1;
    display: flex;
    gap: 30px;
    padding: 0 30px;
}

.education_college {
    display: flex;
    flex-direction: column;
    width: 31%;
    gap: 5px;   
    background-color: var(--bgSoft);
    min-height: auto;  
}

.education_college:first-child {
    -webkit-animation: roll-in-blurred-right 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: roll-in-blurred-right 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.education_college:last-child {
    -webkit-animation: roll-in-blurred-right 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
    animation: roll-in-blurred-right 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
}

.image{
    background : white;
    width:100% ;
    height : 40%;
}


.education_college:hover {
    background-color: var(--boxHover);
}

.education_collge_Info{
    display: flex;
    flex-direction: column;
    line-height: 1.8rem;
    padding: 10px;
    font-weight: 300;
}

.education_collge_Info h5,
.education_collge_Info h4{
    font-size: 16px;
    font-weight: 500;
}


.education_collge_Info p{
    font-size: 14px;
    font-style: italic;
}


/* Keyframes */

 @-webkit-keyframes roll-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) rotate(720deg);
              transform: translateX(1000px) rotate(720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes roll-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) rotate(720deg);
              transform: translateX(1000px) rotate(720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  


/* -------------- */

@media screen and (max-width: 767px){
   
    .education{
        display: flex;
        flex-direction: column;
        padding: 0;
        padding: 5px 20px;
        gap: 20px;

    }

    .education_description{

        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
    }

    .education_college {

        width: 100%;  
    }

    .image{
        
        height : 50%;
    }
    
    .education_collge_Info h5,
    .education_collge_Info h4{
        font-size: 14px;
    }
    
    .education_collge_Info p{
        font-size: 12px;

    }
    
}

/* Tablet devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .education_description{

        flex-direction: column;
        gap: 60px;
    }

    .education_college{
        width: 100%;
    }

    
.education_collge_Info{
    line-height: 3rem;
    padding: 30px;

}

.education_collge_Info h5,
.education_collge_Info h4{
    font-size: 24px;
}


.education_collge_Info p{
    font-size: 22px;
}
}