.container{
    bottom: auto;
    padding: 0 5%;
}

.about{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    gap: 30px;
}


.about_description{
    width: 100%;
    display: flex;
    flex-direction: row;

    gap: 30px;

}

.about_img {
    margin: 0 30px;
}

.image{
    width: 320px;
    height: 320px;
    object-fit: cover;
    -webkit-animation: scale-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

  

.about_description_text{
    top: 10px;
    line-height: 2rem;
    text-align: justify;
}

.about_description_textTop p{
  

    -webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.2s both;
            animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.2s both;
  
  
}


.about_description_textBottom{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.about_description_textLeft li{
  -webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.2s both;
  animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.2s both;
}

.about_description_textRight li{
  -webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3.2s both;
  animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3.2s both;
}
.about_description_textLeft li,
.about_description_textRight li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}


/* keyframes */



@-webkit-keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }

@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}


/* ---------------------------------- */

/* Mobile Devices */

@media screen and (max-width: 767px){
    .container{

        width: 100vw;
        padding: 0 1px;
    }
    
    .about{
        display: flex;
        flex-direction: column;
        padding: 5px 0px;

    }

    .about_description{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;  

    }

    .about_img {
        width: 300px;
        height: 300px;
        margin: 0 40px;
        /* background-color: yellow; */
    
    }
    
    .image{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    .about_description_text{
        display: flex;
        flex-direction: column;
    }

    .about_description_textTop{
        /* background-color: yellow; */
        margin: 15px;
        width: 90%;
        padding: 10px;
    }

    .about_description_textBottom{
        display: flex;
        flex-direction: column;
    }
}


/* Tablet devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .about_description{
      
        flex-direction: column;
        align-items: center;
    
        gap: 40px;
    
    }
}

