.container{
    bottom: auto;
    padding: 0 5%;
}

.about{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    gap: 30px;
}


.about_description{
    width: 100%;
    display: flex;
    flex-direction: row;

    gap: 30px;

}

.about_img {
    
    margin: 0 30px;

}

.image{
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.about_description_text{
    top: 10px;
    line-height: 2rem;
    
}

.about_description_textBottom{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.about_description_textLeft li,
.about_description_textRight li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

/* Mobile Devices */

@media screen and (max-width: 767px){
    .container{

        width: 100vw;
        padding: 0 1px;
    }
    
    .about{
        display: flex;
        flex-direction: column;
        padding: 5px 0px;

    }

    .about_description{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;  

    }

    .about_img {
        width: 300px;
        height: 300px;
        margin: 0 40px;
        /* background-color: yellow; */
    
    }
    
    .image{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    .about_description_text{
        display: flex;
        flex-direction: column;
    }

    .about_description_textTop{
        /* background-color: yellow; */
        margin: 15px;
        width: 90%;
        padding: 10px;
    }

    .about_description_textBottom{
        display: flex;
        flex-direction: column;
    }
}


/* Tablet devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .about_description{
      
        flex-direction: column;
        align-items: center;
    
        gap: 40px;
    
    }
}

