.container {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 30px;
    margin-left: 15%;
    margin-top: 12%;
    overflow-y: auto;
    transition: all 0s ease-in-out 0s
}

/* .menu{
    display: none;
} */

.container h1, 
.container p{
    /* margin-top: 20px;
    margin-bottom: 0.5rem; */
    line-height: 1.2;
}

.container h1{
    font-size: 48px;
    font-weight: 700;
    font-family: Poppins, sans-serif;

}

.container p{
    font-size: 24px;
    font-weight: 400;
}

.socialMedia {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.button{
    margin-bottom: 10px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 150px;
    border-radius: 30px;
    outline: 1px solid gray;
    outline-offset: 3px;
    cursor: pointer;
    padding: 10px;
    gap: 10px;
}

.button a{

    background-color: transparent;
    color: var(--text);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: Poppins, sans-serif;

    border: none;
    border-radius: 30px;

}

/* Mobile Devices */

@media screen and (max-width: 767px){
    .container {
        position: relative;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 20% 10%;
    }

    .container h1{
        font-size: 4rem;
        font-weight: 600;       
    }

    .button{
        margin: 10px 10px;
        
    }

}


/* Tablet devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .container{
        gap: 40px;
        margin : 25% auto;
        padding: 30px;
    }
}