.container{
    height: 90px;
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    font-size: 36px;
    font-weight: bold;
}
